.HomePagePhoto{
    width: 1517px;
    height: 870px;
    margin-top: -10px;
    margin-left: -10px;
}
.MenuButtonIcon{
    margin-left: 67px;
    margin-top: 50px;
    position: absolute;
}
.WooDoo{
    color: #E09145;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    margin-left: 702px;
    margin-top: 30px;
    position: absolute;
    letter-spacing: 2px;
}
.WooDoo1{
    color: #E09145;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 56px;
    margin-left: 64px ;
    margin-top: 250px;
    letter-spacing: 5px;
    position: absolute;
}
.DS{
    color: white;
    font-size: 26px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 64px ;
    margin-top: 320px;
    letter-spacing: 2px;
    position: absolute;
}
.text1{
    color: #c4c4c4;
    margin-left:64px ;
    margin-top: 400px;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    letter-spacing: 2px;
}
.text2{
    color: #c4c4c4;
    margin-left:64px ;
    margin-top: 430px;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    letter-spacing: 2px;
}
.text3{
    color: #c4c4c4;
    margin-left:64px ;
    margin-top: 460px;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    letter-spacing: 2px;
}
.button1{
    color: white;
    width: 400px;
    height: 50px;
    border: 3px solid #E09145;
    border-radius: 8px;
    margin-left: 63px;
    letter-spacing: 2px;
    margin-top: 600px;
    position: absolute;
    background-color: transparent;
}
.button2{
    color: white;
    width: 131px;
    height: 32px;
    border: 2px solid #E09145;
    border-radius: 8px;
    margin-left: 1200px;
    letter-spacing: 2px;
    margin-top: 40px;
    position: absolute;
    background-color: transparent;
}
.button3{
    color: #E09145;
    width: 131px;
    height: 32px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    margin-left: 1350px;
    letter-spacing: 2px;
    margin-top: 40px;
    position: absolute;
    background-color: transparent;
}