.HomePage{
    width: 1530px;
    margin-top: -10px;
    margin-left: -10px;
}
.MenuButtonIcon{
    position: absolute;
    margin-left: 67px;
    margin-top: 60px;
}
.WD1{
    position: absolute;
    color: #E09145;
    font-size: 45px;
    margin-top: 45px;
    margin-left: 330px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Signin{
    color: #E09145;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 59px;
    margin-left: 650px;
    margin-top: 200px;
    position: absolute;
}
.About{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-left: 540px;
    margin-top: 60px;
    position: absolute;
}
.Concat{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-left: 640px;
    margin-top: 60px;
    position: absolute;
}
.Delivery{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-left: 740px;
    margin-top: 60px;
    position: absolute;
}
.name{
    width: 250px;
    height: 30px;
    border-radius: 8px ;
    color: white;
    background-color: transparent;
    border: 1px solid #E09145;
    position: absolute;
    margin-left: 480px;
    margin-top: 330px;
}
.Name{
    color: white;
    margin-left: 480px;
    margin-top: 310px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
    position: absolute;
}
.lastname{
    color: white;
    margin-left: 780px;
    margin-top: 310px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
    position: absolute;
}
.LastName{
    width: 250px;
    height: 30px;
    border-radius: 8px ;
    color: white;
    background-color: transparent;
    border: 1px solid #E09145;
    position: absolute;
    margin-left: 780px;
    margin-top: 330px;
}
.Email{
    color: white;
    margin-left: 480px;
    margin-top: 410px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
    position: absolute;
}
.email{
    width: 450px;
    height: 30px;
    border-radius: 8px ;
    color: white;
    background-color: transparent;
    border: 1px solid #E09145;
    position: absolute;
    margin-left: 480px;
    margin-top: 430px;
}
.Password{
    color: white;
    margin-left: 480px;
    margin-top: 510px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
    position: absolute;
}
.password{
    width: 550px;
    height: 30px;
    border-radius: 8px ;
    color: white;
    background-color: transparent;
    border: 1px solid #E09145;
    position: absolute;
    margin-left: 480px;
    margin-top: 530px;
}
.SignIn{
    color: white;
    width: 250px;
    height: 35px;
    border-radius: 8px;
    margin-left: 630px;
    margin-top: 630px;
    background-color: transparent;
    border: 1px solid white;
    position: absolute;
}
