body{
    background-color: #dedede;
}
.divcrd{
    background-color: white;
    height: 465px;
}
.photo1{
    width: 333px;
    height: 333px;
    margin-left: 64px;
    position: absolute;
    margin-top: 76px;
}
.photo2{
    width: 333px;
    height: 333px;
    margin-left: 410px;
    position: absolute;
    margin-top: 76px;
}
.photo3{
    width: 333px;
    height: 333px;
    margin-left: 755px;
    position: absolute;
    margin-top: 76px;
}
.photo4{
    width: 333px;
    height: 333px;
    margin-left: 1100px;
    position: absolute;
    margin-top: 76px;
}
.recomended{
    color: black;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    margin-left: 64px;
}