.glav {
  width: 1510px;
  height: 1000px;
}
.header {
  width: 176px;
  height: 41px;
  margin-left: 606px;
  margin-top: -66px;
}
.q{
    color: #e09145;
}
.header1 {
  font-family: Mont;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 51px;
  text-align: right;
  color: #e09145;
}
.menu {
  width: 34px;
  height: 0px;
  margin-left: 64px;
  margin-top: -936px;
}
.signin1 {
  background-color: transparent;
  width: 131px;
  height: 32px;
  border: 2px solid #e09145;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #e5e5e5;
}
.signin {
  margin-left: 1100px;
  margin-top: -25px;
}
.signup1 {
  background-color: transparent;
  width: 131px;
  height: 32px;
  border: 2px solid #e5e5e5;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #e09145;
}
.signup {
  margin-left: 1300px;
  margin-top: -32px;
}
.text {
  font-family: Mont;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 72px;
  letter-spacing: 0.1em;
  color: #e09145;
}
.box {
  width: 282px;
  height: 72px;
  margin-left: 64px;
  margin-top: 353px;
}
.text1 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 31px;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.box1 {
  width: 282px;
  height: 31px;
  margin-left: 74px;
  margin-top: -10px;
}
.text2 {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: 0.05em;
  color: #c4c4c4;
}
.box2 {
  width: 584px;
  height: 102px;
  margin-left: 74px;
  margin-top: 48px;
}
.button {
  border: 3px solid #e09145;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #ffffff;
  width: 333px;
  height: 50px; 
  background-color: transparent; 
}
.box3{
    margin-left: 69px;
    margin-top: 77px;
}