.div-1{
    background: #292C35;
    height: 264px;
    width: 1520px;
    margin-left: -10px;
    position: relative;
}
.address{
    color: #E5E5E5;
    position: absolute;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 68px;
    margin-left: 64px;
}
.phonenumber{
    margin-left: 64px;
    margin-top: 143px;
    font-size: 18px;
    color: #E5E5E5;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo{
    color: #E09145;
    position: absolute;
    margin-left: 722px;
    margin-top: 42px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.privacypolicy{
    color: #E5E5E5;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    margin-left:688px ;
    margin-top: 170px;
}
.search{
    position: absolute;
    border: 0.1px solid #E5E5E5;
    width: 271px;
    height: 32px;
    color: white;
    margin-left: 1185px;
    background: #292C35;
    margin-top: 68px;
    border-radius: 8px;
}
.WD{
    color: #E5E5E5;
    font-size: 18px;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 725px;
    margin-top: 200px;
}
.media{
    color: #E5E5E5;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 1269px;
    margin-top: 143px;
    position: absolute;
}
.pinterest{
    margin-left:1272px ;
    margin-top: 182px;
    position: absolute;
}
.telegram{
    margin-left:1320px ;
    margin-top: 182px;
    position: absolute;
}
.instagram{
    margin-left:1370px ;
    margin-top: 182px;
    position: absolute;
}
.facebook{
    margin-left:1425px ;
    margin-top: 182px;
    position: absolute;
}
.searchIcon{
    position: absolute;
    margin-left: 1425px;
    margin-top: 74px;
}